.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: auto;
  width: 100%;
  max-width: 938px;
  word-break: break-all;
  padding: 16px;
  box-sizing: border-box; /* Включаем padding и border в общую ширину блока */
  border-radius: 5px;
  background-color: #ffffff;
}

.articleHeaderWrap {
  display: flex;
  gap: 20px;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 75%;
  // word-break: break-all;
  // overflow: hidden;

  & p,
  & h1,
  & h3 {
    margin: 0;
    padding: 0;
  }
}

.articleInfoTitle {
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
  font-weight: 600;
}

.articleInfoTags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-weight: 400;
  & span {
    font-size: 12px;
    line-height: 14.52px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 2px 4px;
  }
}

.articleInfoDesc {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}

.articleAuthor {
  display: flex;
  flex: 1 1 25%;
  justify-content: flex-end;
  text-align: right;
  gap: 20px;
  word-break: normal;
}

.articleAuthorName {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.85);
}

.articleAuthorDate {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.articleAuthorName,
.articleAuthorDate {
  padding: 0;
  margin: 0;
}

.articleBody {
  font-size: 20px;
  line-height: 28px;
  // margin-top: 25px;
  // word-break: break-all;
}

.img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
