.ticketSort {
  display: flex;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden; /* Чтобы кнопки не перекрывали закругленные углы */
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

.ticketSortBtn {
  flex: 1;
  font-family: 'Open Sans';
  font-weight: 600;
  background-color: white;
  border: none;
  padding: 15px;
  line-height: 20px;
  cursor: pointer;

  &:not(:last-child) {
    border-right: 1px solid #dfe5ec;
  }

  &:hover {
    color: white;
    background-color: #2196f3;
    transition:
      opacity 0.3s ease-in-out,
      color 0.3s ease;
  }

  &:not(&--active):active {
    transform: scale(0.95);
  }

  &.active {
    background-color: #2196f3;
    color: white;
  }
}
