// AuthForm.module.scss

// Заголовки форм для различных режимов
.formTitle {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0 0 25px;
}

// Общие стили для формы
.form {
  display: flex;
  flex-direction: column;
}

// Лейблы для всех инпутов
.formLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

// Лейбл для чекбокса
.formLabelCheckbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 21px;
}

// Стили для инпутов
.formInput {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  padding: 8px 12px;
  transition: border-color 0.3s;

  &:hover {
    border: 1px solid #484848;
  }

  &:focus {
    border: 1px solid #1890ff;
    outline: none;
  }
}

// Стиль для чекбокса
.formInputCheckbox {
  margin-right: 8px;
}

// Ошибка для инпутов
.inputError {
  border: 1px solid red;
}

// Текст ошибок
.errorText {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: 'Roboto';
}

// Кнопка отправки формы
.formButton {
  height: 40px;
  background-color: #1890ff;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 9px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:disabled {
    background-color: #188fff68;
    cursor: not-allowed;
  }
}

// Дополнительная информация под формой
.formInfo {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

// Ссылка на другую страницу (вход/регистрация)
.navLink {
  color: #1890ff;
  font-weight: 700;
}

// Полоса до чекбокса
.formLine {
  border: 1px solid #e8e8e8;
  border-radius: 1px;
  margin: 9px 0 8px;
}
